<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>91652656168-t1omje566hoco7r330eu683kb5j8aa1u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.91652656168-t1omje566hoco7r330eu683kb5j8aa1u</string>
	<key>API_KEY</key>
	<string>AIzaSyBXJ8_8WZ7QIvgOQsibPZoCUOm5BDEIgf8</string>
	<key>GCM_SENDER_ID</key>
	<string>91652656168</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sirius-aero.SiriusApp</string>
	<key>PROJECT_ID</key>
	<string>sirius-app-4021f</string>
	<key>STORAGE_BUCKET</key>
	<string>sirius-app-4021f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:91652656168:ios:0df9a2d9ecc7e090</string>
	<key>DATABASE_URL</key>
	<string>https://sirius-app-4021f.firebaseio.com</string>
</dict>
</plist>